<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dojo Central</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/ninjas/create" method='POST'>
        <select name="dojo_id" id="dojo_id">
            <!-- <option disabled selected value="">Choose Your Dojo</option> <<<THIS<< Still lets users submit, but new ninja is not created, and there is no error message, so I disabled it-->
            {% for dojo in dojos %}
            <option value="{{dojo.id}}">{{dojo.location}}</option>
            {% endfor %}
        </select>
        <br>
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Age: <input type="text" name="age"><br>
        <input type="submit">
    </form><br>
    <a href="/dojos">Dojos</a>
</body>
</html>